* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    margin: 0;
    padding: 5px 15px;
}

nav {
    margin: 0;
    padding: 0;
}

footer, main, .container {
    margin: 0;
    padding: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
    color: black;
    padding: 10px 0;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

nav {
    margin: 0;
    padding: 10px 10px 5px 10px;
}

ul.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.nav-menu li {
    display: inline;
    margin-right: 15px;
}
.image-container {
    margin: 0;
}

ul.advantages-list {
    list-style: disc;
    margin-left: 30px;
    padding: 0;
}

ul.advantages-list li {
    display: list-item;
    margin-bottom: 10px;
    font-weight: 400;
}

.image-container img {
    width: 600px;
    height: auto;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

th {
    font-weight: 700;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
}

a:hover {
    color: orange;
}

footer {
    background-color: black;
    color: white;
}

.footer-content {
    margin: 0;
    padding: 15px;
}

footer p {
    color: white;
    margin: 0;
}